<div class="main">
  <%# indexの上部　説明 %>
  <div class="main-background">
    <div class="main-info">
      <h1 class="main-info-content">気になるキッチンカーを探してみましょう!</h1>
    </div>
  </div>
  <%# /indexの上部　説明 %>
  
  <%# indexの下部　キッチンカーの一覧%>
  <div class="main-list-title">
  新登場！新作キッチンカー
  </div>
  <div class="store-list" style="display: flex;">
    <% @stores.each do |store| %> 
      <div class="list" style="image: url(<%= store.image %>);"> 
        <p><%= store.name %></p> 
      </div>
    <% end %>
  </div>
  <%# /indexの下部　キッチンカーの一覧%>
</div>