<div class="main">
  index
  <%# <% <% @stores.each do |store| %>
    <%# <div class="main_store" style="background-image: url(<%= store.image %>);">  %>
      <%# <p><%= store.name %></p>
    <%# </div> %>
  <%# end %>
</div>